@model PixelWarsCollection

<div class="login">
    <h1>Create Grid</h1>
    <form method="post" enctype="multipart/form-data" asp-controller="Page" asp-action="InsertGrid">
        <p>
            <input type="text" name="Name" value="" placeholder="Name For your Grid" required>
        </p>
        <p>
            <input type="text" name="Size" value="" placeholder="Size For your Grid" required>
        </p>

        <p class="submit">
            <input type="submit" name="commit" value="Insert">
        </p>

    </form>
</div>