
<div class="login">
    <div id="loginForm">
        <h1>Авторизация</h1>
        <form method="post" enctype="multipart/form-data">
            <p>
                <input type="text" name="UserName" value="" id="username" placeholder="Username or Email" required>
            </p>
            <p>
                <input type="password" name="password" value="" id="password" placeholder="Password" required>
            </p>
            <p>
                <input type='submit' value='Login' />
            </p>       
        </form>
     </div>
</div>


